<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee   http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>meterWeb</display-name>
  <context-param id="CtxParam_1">
		<param-name>contextConfigLocation</param-name>
		<param-value>/WEB-INF/spring-scheduler.xml</param-value>
	</context-param>
  <filter>
    <filter-name>Character Encoding Filter</filter-name>
    <filter-class>com.pwa.web.filter.RequestCharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>TIS-620</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Character Encoding Filter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener id="Listener_1">
		<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
	</listener>
  <servlet>
    <servlet-name>action</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet>
    <description>init value</description>
    <display-name>PWAInitServlet</display-name>
    <servlet-name>PWAInitServlet</servlet-name>
    <servlet-class>com.pwa.web.servlet.PWAInitServlet</servlet-class>
    <load-on-startup>2</load-on-startup>
  </servlet>
  <servlet>
    <description>init log4j</description>
    <display-name>Log4jInitServlet</display-name>
    <servlet-name>Log4jInitServlet</servlet-name>
    <servlet-class>com.pwa.web.servlet.Log4jInitServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet>
    <description>DWR Servle</description>
    <display-name>DWR Servlet</display-name>
    <servlet-name>dwr-invoker</servlet-name>
    <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
    <init-param>
      <param-name>debug</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet>
    <servlet-name>action_tmp</servlet-name>
    <servlet-class>org.apache.struts.action.ActionServlet</servlet-class>
    <init-param>
      <param-name>config</param-name>
      <param-value>/WEB-INF/struts-config.xml</param-value>
    </init-param>
    <init-param>
      <param-name>debug</param-name>
      <param-value>3</param-value>
    </init-param>
    <init-param>
      <param-name>detail</param-name>
      <param-value>3</param-value>
    </init-param>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>dwr-invoker</servlet-name>
    <url-pattern>/dwr/*</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>action</servlet-name>
    <url-pattern>*.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PWAInitServlet</servlet-name>
    <url-pattern>/servlet/PWAInitServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Log4jInitServlet</servlet-name>
    <url-pattern>/servlet/Log4jInitServlet</url-pattern>
  </servlet-mapping>
  <jsp-config>
	    <taglib>
	        <taglib-uri>/WEB-INF/struts-bean.tld</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/struts-bean.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>/WEB-INF/struts-html.tld</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/struts-html.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>/WEB-INF/struts-logic.tld</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/struts-logic.tld</taglib-location> 
	    </taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-template.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/struts-tiles.tld</taglib-location>
		</taglib>
		<taglib>
			<taglib-uri>/WEB-INF/struts-nested.tld</taglib-uri>
			<taglib-location>/WEB-INF/taglib/struts-nested.tld</taglib-location>
		</taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/core</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/c.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/xml</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/x.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/fmt.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/sql</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/sql.tld</taglib-location> 
	    </taglib>
	    <taglib>
	        <taglib-uri>http://java.sun.com/jsp/jstl/functions</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/fn.tld</taglib-location> 
	    </taglib>    
	    <taglib>
	        <taglib-uri>/WEB-INF/c.tld</taglib-uri> 
	        <taglib-location>/WEB-INF/taglib/c.tld</taglib-location> 
	    </taglib>
    </jsp-config>
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <login-config>
    <auth-method>BASIC</auth-method>
  </login-config>
</web-app>

